@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px 0;

}

.stopwatch-container, .timer-container  {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

.stopwatch-display {
    text-align: center;

}

.stopwatch-timer {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif; 
}

.stopwatch-timer-label {
    margin-top: 5px;
    word-spacing: 5px;
    
}

.stopwatch-btn-container, .timer-btn-container  {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.stopwatch-btn, .timer-btn{
    outline: none;
    border: 1px solid transparent;
    padding:  5px 20px;
    border-radius: 5px;
    word-spacing: 5px;
}

.stopwatch-btn-Start, .timer-btn-start{
    border-color: green;
    color: green;
    background-color: transparent;
}

.stopwatch-btn-Start:hover, .timer-btn-start:hover{
    background-color: green;
    color: #ddd;
}

.stopwatch-btn-Stop , .timer-btn-stop{
    border-color: red;
    color: red;
    background-color: transparent;
}

.stopwatch-btn-Stop:hover, .timer-btn-stop:hover{
    background-color: red;
    color: #ddd;
}

.stopwatch-btn-Reset {
    border: rgba(20, 20, 5);
    color: rgba(20, 20, 5);
    background-color: transparent;
}

.stopwatch-btn-Reset:hover {
    background-color: rgb(20, 20, 5);
    color: #ddd;
}

.timer-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.timer-input {
    width: 40px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

.timer-display-container {
    margin: 20px 0;
    font-size: 25px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    font-weight: bold; 
}